:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


html, body { height: 100%; }
body {
  margin: 0;
  background: #ffffff;
  color: #212529; 
}

a { text-decoration: none; }

#root { min-height: 100%; }
